<div class="real-estate-card" (click)="navigateToDetails()" [attr.aria-label]="'View details of ' + realEstate.title">
  <div class="card-image" [style.background-image]="'url(' + realEstate.images[0].image_url + ')'" role="img" [attr.aria-label]="realEstate.title + ' property image'"></div>
  <div class="card-content">
    <div class="card-info">
      <p class="category">{{ realEstate.category }}</p>
      <p class="location">{{ realEstate.location }}</p>
    </div>
    <h3 class="card-title" [title]="realEstate.title">{{ realEstate.title }}</h3>
    <div class="card-footer">
      <span class="price">{{ formatPrice(realEstate.price) }}</span>
    </div>
  </div>
</div>